h1, h3, label, div, input, p, button {
    font-family: monospace;
}
h1 {
    text-align: center;
    font-size: 35px;
}
h3 {
    text-align: center;
    font-size: 25px;
}
h4 {
    font-size: 18px;
}
label, div, input, p {
    font-size: 14px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: flex-start; 
}
#responseArea {
    width: 750px;
}
#rectangle { min-height: 100% }
